*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #363636;
}
header{
background-color: #363636;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.9rem;
    text-shadow: 1px 1px 3px black;
}
@keyframes sideleft{
    from{
        transform: translate(-300px);
    }
    to{
        transform: translate(0);
    }
}
@keyframes sideright{
    from{
        transform: translate(300px);
    }
    to{
        transform: translate(0);
    }
}
@keyframes fadeIn {
    0% {
      opacity: 0; 
    }
    100% {
      opacity: 1; 
    }
  }
.logo-text{
/* animation:sideright 1s ease-in ; */
animation: fadeIn 3s ease forwards;
}
@keyframes spin {
    0% {
      transform: rotateY(0deg); 
    }
    100% {
      transform: rotateY(360deg); 
    }
  }
.logo img{
    /* animation:sideleft 1s ease-in ; */
    animation: spin 3s linear infinite;
    width: 5rem;
}
.btn-n{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
    list-style: none;
}
.btn-n li{
    flex-basis: 48%;
}
.btn{
    text-decoration: none;
    color: white;
    display: block;
    font-weight: bolder;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    backdrop-filter: blur(3px);
    margin: 6px;
    transition: background-color 0.3s ease;
}
.btn:hover{
cursor: pointer;
background-color: #a78054;
color: #363636;
}
.green{
    color: #a78054;
}
.book{
    background-image: url(./images/1.jpeg);
    border-radius: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 17rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-b{
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: #a78054;
    font-weight: bolder;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    /* text-shadow: 1px 1px 3px black; */
    backdrop-filter: blur(4px);

}
.btn-b:hover{
    cursor: pointer;
    background-color:  #363636;
color: white;
}
.service{
    background-color:#a78054;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3rem;
    padding: 2rem;
}
.s-h{
  color: white;
  text-shadow: 1px 1px 3px black;
  font-weight: bolder;
  margin-bottom: 2rem;
  text-align: center;
  font-size: xx-large;
}
.cards{
    display: flex;
    flex-direction: column;
}
figure{
    /* margin: 2rem; */
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    animation: colorChange 5s infinite alternate;
}
figcaption{
    padding: 0.5rem;
    text-align: center;
    font-weight: bolder;
    animation: colorChange 5s infinite alternate;
}
figure img{
    width: 100%;
    border-radius: 1rem;
    height: 20rem;
}
@keyframes colorChange {
    0% {
      border-radius: 1rem;
      background-color: #363636;
    }
    50% {
      border-radius: 1rem;
      background-color: #a78054;
    }
    100% {
      border-radius: 1rem;
      background-color: #363636;
    }
  }
.about{
    background-color: #363636;
    padding: 2rem;
}
.about h1{
    color: white;
    text-shadow: 1px 1px 3px black;
    font-weight: bolder;
    /* margin-bottom: 1rem; */
    font-size: xx-large;
}
.about p{
    font-size: larger;
}

.contact{
    background-color: #363636;
    padding:2rem;
}
.contact h1{
    color: white;
    text-shadow: 1px 1px 3px black;
    font-weight: bolder;
}
.social{
    display: flex;
    flex-direction: column;
}
.social ul{
    padding: 1rem;
}
.social img{
    width: 1.2rem;
}
footer{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #a78054;
    text-align: center;
    padding: 1rem;
}